body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

main {
  color: white;
  height: 100vh;
}

section {
  height: 100vh;
}

nav {
  padding: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav ul li a {
  color: white;
}
