body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

main {
  color: white;
  height: 100vh;
}

section {
  height: 100vh;
}

nav {
  padding: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav ul li a {
  color: white;
}

section.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: 20px;
}

section.hero .hero-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

hero-text h2 {
  font-size: 1.4em;
  margin: 0;
}

.hero-text p {
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  margin: 2rem;
  border-radius: 20px;
}

.hero-text p::before {
  content: "“";
  font-size: 2em;
  color: #fc810dd5;
}

.hero-text p::after {
  content: "”";
  font-size: 2em;
  color: #fc810dd5;
}

.text-accent {
  color: #fc810dd5;
}

.text-primary {
  color: #03f503;
}

.hero img {
  max-width: 400px;
  object-fit: contain;
  border-radius: 15px;
  min-width: 200px;
  width: 100%;
}
